@import "bourbon";
@import "bootstrap_and_overrides";
@import "bootstrap-datepicker";
@import "rooms";

.clear{
        zoom: 1;
}

.clear:after{
        content: ".";
        display: block;
        height: 0;
        font_size: 0;
        clear: both;
        visibility: hidden;
}

.inline-sub{
        margin-top: -7px;
}

.imp{
        font-weight:bold
}

body .modal{
    /* new custom width */
    width: 900px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -450px;
}

textarea{
	height: 100px;
}

#customer_modal_table tbody tr:hover{
	//background-color: #666 !important;
	color: #fff;
	cursor: pointer;
		td{
			background-color: #666 !important;
		}
}

#room_costs_form{
	label{
		text-align: left;
		width: 130px;
	}
	.controls{
		margin-left: 100px;
	}
}