@import "bourbon";
@import "bootstrap_and_overrides";
@import "bootstrap-datepicker";

body .modal{
    /* new custom width */
    width: 900px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -450px;
}

textarea{
	height: 100px;
}

#customer_modal_table tbody tr:hover{
	//background-color: #666 !important;
	color: #fff;
	cursor: pointer;
		td{
			background-color: #666 !important;
		}
}
