.room-element{
	@include border-top-radius(6px);
	@include border-bottom-radius(6px);
	@include border-left-radius(6px);
	@include border-right-radius(6px);
	margin-bottom: 20px;
	text-align: center;
	.room-element-body{
		padding: 10px;
	}
}